body{overflow-x: hidden;
     display: flex;
     flex-direction: column;}
.imageverh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.osnova {
    align-items: center;
    padding-top: 50px;
    position: absolute;
    display: flex;
    top:480px;
    width:100%;
    flex-direction: column;}

.linia {
    position: absolute;
    top: 460px;
    background: linear-gradient(#808080, #A9A9A9, #A9A9A9);
    width: 100%;
    height: 40px;
    z-index: 10;
}
.fon{filter: blur(2px);
     position: fixed;
     }
.box{align-items: center;
    text-align: center;
     display: inline-block;
     position: relative;
     border-style:solid;
     border-width: 5px;
     border-color: #808080;
     border-radius: 30px;
     padding:20px;
     z-index: 10;
     margin-bottom: 30px;
     }
p{font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: #535353;}
.box:hover{transform: scale(1.05);
           transition-duration: 0.3s;
           box-shadow: 0 0 40px gray;}
     